<%= link_to "Add Post", new_blog_path %>
<% @blogs.each do |blog|%>
	<div class="containerblog">
	<li class="innercontainer" style="list-style-type: none; font-size: 20px;">
	<%= blog.title %>
		<br>
		<br>
		<%= blog.post %>
		<br>
		<br>
		<label>Date: </label><%= blog.date %>
	</li>
	<p>
	<p>
</div>
<br>
<br>
<%end%>
